/* ========== HEADER TEXT (Overrides/Specifics) ========== */
h3 {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    padding: 20px;
    margin: 0 125px;
}


/* ========== COURSE DESCRIPTIONS DROPDOWN ========== */
.dropdown {
    margin: 20px 145px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.dropdown-title {
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    background: #6CACE4;
    color: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-icon {
    font-size: 16px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}
.dropdown-title:hover {
    background: #387c99;
}
.dropdown-title:hover .dropdown-icon {
    color: #d1e0f7;
}
.dropdown-content {
    display: none;
    padding: 15px;
    font-size: 16px;
    background: #fff;
    border-top: 1px solid #ccc;
}
.dropdown-content p strong {
    font-weight: 600; /* Use 600 instead of 'semibold' for valid CSS */
}
.dropdown.open .dropdown-icon {
    transform: rotate(180deg);
}
